/*First project of the course development full stack ProgramadorBR
@author Paulo Silva
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background: #48c5ce;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.title {
    font-size: 26px;
    text-transform: uppercase;
}

section {
    padding: 20px;
    background: url(/images/people.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    width: 100%;
    max-width: 230px;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    float: right;
}

h2 {
    font-size: 16px;
}

.mb {
    margin-bottom: 15px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

input[type="submit"] {
    color: #000;
    background: #48c5ce;
    font-weight: bold;
}

input[type="submit"]:hover {
    color: #fff;
    cursor: pointer;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(/images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer {
    background: #202121;
    padding: 40px;
    text-align: center;
}

.picture {
    width: 160px;

}

.description {
    display: inline-block;
    color: #fff;
    max-width: 40%;
    margin-left: 40px;
    text-align: justify;

}

.description p,
.description h3 {
    margin-bottom: 20px;
}

.description h3 {
    font-size: 24px;
}

/*Responsiveness*/
@media screen and (max-width:600px) {
    .formContainer {
        float: none;
        max-width: 100%;
        text-align: justify;
    }

}

@media screen and (max-width:720px) {
    .description {
        display: block;
        max-width: 100%;
        margin-top: 30px;
    }

    .description h3 {
        text-align: center;
        font-size: 35px;
    }

    .description p {
        text-align: justify;
        line-height: 30px;
    }
    .picture{
        width:200px;
    }
}